SonnetteConnectee/Node-RED_sendRing
[
    {
        "id": "6860a260.151cf4",
        "type": "tab",
        "label": "Sonnette",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e6a5186e.3df6a",
        "type": "tab",
        "label": "Data_Store",
        "disabled": false,
        "info": ""
    },
    {
        "id": "32d3900e.458958",
        "type": "tab",
        "label": "panneau de contrôle",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a332031e.a8bec8",
        "type": "mqtt-broker",
        "z": "",
        "name": "Sonnette@192.168.1.222",
        "broker": "192.168.1.222",
        "port": "2222",
        "clientid": "Sonnette",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "475131ad.7cf348",
        "type": "ui_group",
        "z": "",
        "name": "Control",
        "tab": "2cd14fe9.3b7ba",
        "order": 1,
        "disp": true,
        "width": "7",
        "collapse": false
    },
    {
        "id": "12846145.93a77f",
        "type": "sqlitedb",
        "z": "",
        "db": "/home/pi/dbs/MaisonCo",
        "mode": "RWC"
    },
    {
        "id": "a07d87ef.ed38f",
        "type": "ui_group",
        "z": "",
        "name": "Graphe",
        "tab": "2cd14fe9.3b7ba",
        "order": 2,
        "disp": true,
        "width": "18",
        "collapse": false
    },
    {
        "id": "2cd14fe9.3b7ba",
        "type": "ui_tab",
        "z": "",
        "name": "Vicky",
        "icon": "dashboard",
        "order": 2
    },
    {
        "id": "4562db20.818834",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#369a2c",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#369a2c",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#369a2c",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#54cb48",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#369a2c",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "c28151.e3ae1eb",
        "type": "ui_tab",
        "z": "",
        "name": "PanneauControl",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c76578ae.2443f8",
        "type": "ui_group",
        "z": "",
        "name": "Interrupteurs",
        "tab": "c28151.e3ae1eb",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "190accac.981feb",
        "type": "mqtt-broker",
        "z": "",
        "name": "Vicky@192.168.1.222",
        "broker": "192.168.1.222",
        "port": "2222",
        "clientid": "Vicky",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "a7605098.9b69e8",
        "type": "mqtt-broker",
        "z": "",
        "name": "localhost:2222",
        "broker": "localhost",
        "port": "2222",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "4d439d51.2d863c",
        "type": "ui_group",
        "z": "",
        "name": "Bouton",
        "tab": "c28151.e3ae1eb",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "909b3e87.aee688",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "475131ad.7cf348",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "b031e2c4.c25208",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "475131ad.7cf348",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "82a868e1.76e9",
        "type": "ui_group",
        "z": "",
        "name": "Col1",
        "tab": "ff2676e3.4724e8",
        "order": 1,
        "disp": false,
        "width": "6"
    },
    {
        "id": "52552f2b.8716b",
        "type": "ui_group",
        "z": "",
        "name": "Actions",
        "tab": "ff2676e3.4724e8",
        "order": 4,
        "disp": true,
        "width": "6"
    },
    {
        "id": "431b98c4.a9477",
        "type": "ui_group",
        "z": "",
        "name": "Col2",
        "tab": "ff2676e3.4724e8",
        "order": 2,
        "disp": false,
        "width": "6"
    },
    {
        "id": "5f8ec3e6.9ba4ac",
        "type": "ui_group",
        "z": "",
        "name": "Col3",
        "tab": "ff2676e3.4724e8",
        "order": 3,
        "disp": false,
        "width": "6"
    },
    {
        "id": "ff2676e3.4724e8",
        "type": "ui_tab",
        "z": "",
        "name": "RPi Control",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "8332b056.cd06b",
        "type": "mqtt in",
        "z": "e6a5186e.3df6a",
        "name": "collectingPoint",
        "topic": "/sensor/plante/humidity",
        "qos": "2",
        "broker": "a7605098.9b69e8",
        "x": 180,
        "y": 220,
        "wires": [
            [
                "6b162608.3379",
                "cbae0926.dbab9",
                "42b09727.e6431",
                "617aeb89.45878c"
            ]
        ]
    },
    {
        "id": "6b162608.3379",
        "type": "ui_gauge",
        "z": "e6a5186e.3df6a",
        "name": "gauge_Humdité",
        "group": "475131ad.7cf348",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "humidité",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#0cb103",
            "#e6e600",
            "#da0505"
        ],
        "seg1": "",
        "seg2": "",
        "x": 420,
        "y": 220,
        "wires": []
    },
    {
        "id": "359e9486.149c3c",
        "type": "sqlite",
        "z": "e6a5186e.3df6a",
        "mydb": "12846145.93a77f",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "DB",
        "x": 550,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "cbae0926.dbab9",
        "type": "function",
        "z": "e6a5186e.3df6a",
        "name": "Insertion",
        "func": "var d = new Date();\nvar epoch = d.getTime();\nvar nepoch = (epoch /1000)+3600;\n\nvar newMsg = {\n \"topic\": \"INSERT INTO `Humidity` (`emplacement`,`device`,`value`,`epoch`) VALUES ('chambre','moisture',\"+ msg.payload + \" , \"+ nepoch + \" )\"\n}\n\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 280,
        "wires": [
            [
                "359e9486.149c3c"
            ]
        ]
    },
    {
        "id": "d5151489.affa38",
        "type": "function",
        "z": "e6a5186e.3df6a",
        "name": "SQLselect",
        "func": "var Week  = 604800 ; //7 Days\nvar Day   =  86400 ; // 1 Days\nvar d = new Date();\nvar epoch = d.getTime();\nvar nepoch = (epoch/1000)+3605;\nvar fromdate = nepoch;\nvar enddate = nepoch;\nvar output = [];\nif (msg.topic == \"ajd\"){\n    enddate = nepoch-Day;\n    output.push({ topic: \"SELECT * FROM Humidity WHERE emplacement='chambre' AND device='moisture' AND epoch >= \" + enddate + \" AND epoch <= \" + fromdate + \" ORDER BY timestamp\"});\n}\nelse if (msg.topic == \"hier\"){\n    enddate = nepoch-2*Day;\n    output.push({ topic: \"SELECT * FROM Humidity WHERE emplacement='chambre' AND device='moisture' AND epoch >= \" + enddate + \" AND epoch <= \" + fromdate + \" ORDER BY timestamp\"});\n}\nelse if (msg.topic == \"week\"){\n    enddate = nepoch-Week;\n    output.push({ topic: \"SELECT * FROM Humidity WHERE emplacement='chambre' AND device='moisture' AND epoch >= \" + enddate + \" AND epoch <= \" + fromdate + \" ORDER BY timestamp\"});\n}\nelse if (msg.topic == \"/data\"){\n    enddate = nepoch-Day;\n    output.push({ topic: \"SELECT * FROM Humidity WHERE emplacement='chambre' AND device='moisture' AND epoch >= \" + enddate + \" AND epoch <= \" + fromdate + \" ORDER BY timestamp\"});\n}\n/*else{\n    for (var property in msg.payload) {\n        if (msg.payload[property]){\n            switch (property) {\n                case \"today\":\n                    enddate = nepoch-Day;\n                    break;\n                case \"yestday\":\n                    enddate = nepoch-2*Day;\n                    break;\n                case \"week\":\n                    enddate = nepoch-Week;\n                    break;\n            }\n            }else{\n                output.push({ topic: \"SELECT * FROM Moisture_device WHERE place='chambre' AND sensor='moisture' AND epoch >= \" + enddate + \" AND epoch <= \" + fromdate + \" ORDER BY timestamp\"});\n            }\n        }\n}*/\n\noutput[output.length-1].complete=true;\nreturn [ output ]; \n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 480,
        "wires": [
            [
                "a58d5bfb.532bd"
            ]
        ]
    },
    {
        "id": "a58d5bfb.532bd",
        "type": "sqlite",
        "z": "e6a5186e.3df6a",
        "mydb": "12846145.93a77f",
        "sql": "",
        "name": "DB",
        "x": 650,
        "y": 480,
        "wires": [
            [
                "c0578998.0e877"
            ]
        ]
    },
    {
        "id": "1619f7fe.831b58",
        "type": "ui_chart",
        "z": "e6a5186e.3df6a",
        "name": "humidité de la plante",
        "group": "a07d87ef.ed38f",
        "order": 1,
        "width": "17",
        "height": "10",
        "label": "Taux d'humidité de la plante",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": "",
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": true,
        "x": 940,
        "y": 500,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "6f9bf52f.f12094",
        "type": "inject",
        "z": "e6a5186e.3df6a",
        "name": "Reset chart",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 870,
        "y": 760,
        "wires": [
            [
                "58fadbdf.6027ec"
            ]
        ]
    },
    {
        "id": "58fadbdf.6027ec",
        "type": "function",
        "z": "e6a5186e.3df6a",
        "name": "Empty payload",
        "func": "msg.payload = [];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1100,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "c0578998.0e877",
        "type": "function",
        "z": "e6a5186e.3df6a",
        "name": "Forme",
        "func": "var series =[\"Taux d'humidit en %\", \"x\"];\nvar labels = [\"Labels\"];\nvar data = [];\n\nvar i, len, string;\n\nfor (i = 1, len = msg.payload.length, string = \"\"; i < len; i++) {\n    data.push({\"x\":msg.payload[i].timestamp, \"y\":Number(msg.payload[i].value)});\n}\n\ndata = [data];\n\nmsg.payload = [{series, data, labels}];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 770,
        "y": 480,
        "wires": [
            [
                "1619f7fe.831b58"
            ]
        ]
    },
    {
        "id": "796c73d8.a70c74",
        "type": "ui_button",
        "z": "e6a5186e.3df6a",
        "name": "",
        "group": "a07d87ef.ed38f",
        "order": 2,
        "width": "6",
        "height": "1",
        "passthru": false,
        "label": "Aujourd'hui",
        "tooltip": "",
        "color": "",
        "bgcolor": "#4b993d",
        "icon": "",
        "payload": "clicked",
        "payloadType": "str",
        "topic": "ajd",
        "x": 210,
        "y": 480,
        "wires": [
            [
                "d5151489.affa38"
            ]
        ]
    },
    {
        "id": "fe9d79f0.b5e73",
        "type": "openweathermap in",
        "z": "e6a5186e.3df6a",
        "name": "Météo",
        "wtype": "current",
        "lon": "",
        "lat": "",
        "city": "La Rochelle",
        "country": "France",
        "language": "fr",
        "x": 190,
        "y": 720,
        "wires": [
            [
                "ac1bd67f.957968",
                "a8e1622.70d31a"
            ]
        ]
    },
    {
        "id": "a23a83d6.625938",
        "type": "ui_text",
        "z": "e6a5186e.3df6a",
        "group": "475131ad.7cf348",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "temp",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 590,
        "y": 720,
        "wires": []
    },
    {
        "id": "ac1bd67f.957968",
        "type": "function",
        "z": "e6a5186e.3df6a",
        "name": "temp",
        "func": "\nmsg.payload = msg.payload.tempc + \" C°\";\n\nreturn msg;\n//return [ msg.payload., null ];\n",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 720,
        "wires": [
            [
                "a23a83d6.625938"
            ]
        ]
    },
    {
        "id": "f6bab538.267bb",
        "type": "ui_text",
        "z": "e6a5186e.3df6a",
        "group": "475131ad.7cf348",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "weather",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 600,
        "y": 760,
        "wires": []
    },
    {
        "id": "a8e1622.70d31a",
        "type": "function",
        "z": "e6a5186e.3df6a",
        "name": "weather",
        "func": "msg.payload = msg.payload.detail;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 420,
        "y": 760,
        "wires": [
            [
                "f6bab538.267bb"
            ]
        ]
    },
    {
        "id": "a095cdaa.01d25",
        "type": "comment",
        "z": "e6a5186e.3df6a",
        "name": "Data_receive",
        "info": "Le bloc ci-dessous traite la requête reçus!",
        "x": 210,
        "y": 120,
        "wires": []
    },
    {
        "id": "8741ccbe.82a99",
        "type": "comment",
        "z": "e6a5186e.3df6a",
        "name": "Bloc_APImétéo",
        "info": "Bloc météo! API utilisé = Openweathermap",
        "x": 220,
        "y": 660,
        "wires": []
    },
    {
        "id": "826419a.ba7ade8",
        "type": "comment",
        "z": "e6a5186e.3df6a",
        "name": "Collecte_Database",
        "info": "Bloc qui traite les données stockée dans la base de données",
        "x": 230,
        "y": 420,
        "wires": []
    },
    {
        "id": "238c3478.281bcc",
        "type": "ui_button",
        "z": "e6a5186e.3df6a",
        "name": "",
        "group": "a07d87ef.ed38f",
        "order": 3,
        "width": "6",
        "height": "1",
        "passthru": false,
        "label": "Hier",
        "tooltip": "",
        "color": "",
        "bgcolor": "#4b993d",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "hier",
        "x": 190,
        "y": 520,
        "wires": [
            [
                "d5151489.affa38"
            ]
        ]
    },
    {
        "id": "e8fb5796.da8eb",
        "type": "ui_button",
        "z": "e6a5186e.3df6a",
        "name": "",
        "group": "a07d87ef.ed38f",
        "order": 4,
        "width": "6",
        "height": "1",
        "passthru": false,
        "label": "Cette semaine",
        "tooltip": "",
        "color": "",
        "bgcolor": "#4b993d",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "ajd",
        "x": 220,
        "y": 560,
        "wires": [
            [
                "d5151489.affa38"
            ]
        ]
    },
    {
        "id": "976d55e7.1b74d8",
        "type": "delay",
        "z": "e6a5186e.3df6a",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 400,
        "y": 380,
        "wires": [
            [
                "d5151489.affa38"
            ]
        ]
    },
    {
        "id": "7c57c644.6d78f8",
        "type": "function",
        "z": "6860a260.151cf4",
        "name": "Insertion",
        "func": "var d = new Date();\nvar epoch = d.getTime();\nvar nepoch = epoch /1000;\n\nvar newMsg = {\n \"topic\": \"INSERT INTO `Sonnette` (`emplacement`,`device`,`epoch`) VALUES ('rez-de-chaussée','sonnette1', \"+ nepoch + \" )\"\n}\n\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 540,
        "y": 280,
        "wires": [
            [
                "96aae068.a751b"
            ]
        ]
    },
    {
        "id": "96aae068.a751b",
        "type": "sqlite",
        "z": "6860a260.151cf4",
        "mydb": "12846145.93a77f",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "DB",
        "x": 710,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "5ca531d2.16041",
        "type": "mqtt out",
        "z": "6860a260.151cf4",
        "name": "",
        "topic": "/sonnette/ring",
        "qos": "",
        "retain": "",
        "broker": "a7605098.9b69e8",
        "x": 560,
        "y": 340,
        "wires": []
    },
    {
        "id": "42b09727.e6431",
        "type": "debug",
        "z": "e6a5186e.3df6a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 380,
        "y": 160,
        "wires": []
    },
    {
        "id": "4da31850.6e2b3",
        "type": "ui_button",
        "z": "6860a260.151cf4",
        "name": "",
        "group": "4d439d51.2d863c",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Sonner!",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "",
        "x": 320,
        "y": 340,
        "wires": [
            [
                "5ca531d2.16041",
                "7c57c644.6d78f8"
            ]
        ]
    },
    {
        "id": "617aeb89.45878c",
        "type": "function",
        "z": "e6a5186e.3df6a",
        "name": "Insertion",
        "func": "msg.payload = \"clicked\";\nmsg.topic = \"ajd\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 280,
        "y": 340,
        "wires": [
            [
                "976d55e7.1b74d8"
            ]
        ]
    },
    {
        "id": "19e1bd31.99b4b3",
        "type": "comment",
        "z": "e6a5186e.3df6a",
        "name": "Blov_voltage",
        "info": "bloc mesure durée de vie d'une batterie",
        "x": 210,
        "y": 840,
        "wires": []
    },
    {
        "id": "461ba74b.60bf08",
        "type": "mqtt in",
        "z": "e6a5186e.3df6a",
        "name": "collectingPoint",
        "topic": "/sensor/voltage",
        "qos": "0",
        "broker": "a7605098.9b69e8",
        "x": 220,
        "y": 920,
        "wires": [
            [
                "11034706.147eb9",
                "5fd115aa.00e6dc",
                "7d476519.2da5bc",
                "aa27425c.3894f8"
            ]
        ]
    },
    {
        "id": "11034706.147eb9",
        "type": "ui_text",
        "z": "e6a5186e.3df6a",
        "group": "475131ad.7cf348",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "voltage",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 480,
        "y": 920,
        "wires": []
    },
    {
        "id": "5fd115aa.00e6dc",
        "type": "debug",
        "z": "e6a5186e.3df6a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 490,
        "y": 1040,
        "wires": []
    },
    {
        "id": "7d476519.2da5bc",
        "type": "function",
        "z": "e6a5186e.3df6a",
        "name": "Insertion",
        "func": "var d = new Date();\nvar epoch = d.getTime();\nvar nepoch = (epoch /1000)+3600;\n\nvar newMsg = {\n \"topic\": \"INSERT INTO `Voltage` (`value`,`epoch`) VALUES (\" + msg.payload + \" , \"+ nepoch + \" )\"\n}\n\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 480,
        "y": 980,
        "wires": [
            [
                "73520b4e.e0dc2c"
            ]
        ]
    },
    {
        "id": "73520b4e.e0dc2c",
        "type": "sqlite",
        "z": "e6a5186e.3df6a",
        "mydb": "12846145.93a77f",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "DB",
        "x": 630,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "f54bb505.49cc38",
        "type": "function",
        "z": "e6a5186e.3df6a",
        "name": "SQLselect",
        "func": "var Week  = 604800 ; //7 Days\nvar Day   =  86400 ; // 1 Days\nvar d = new Date();\nvar epoch = d.getTime();\nvar nepoch = (epoch/1000)+3605;\nvar fromdate = nepoch;\nvar enddate = 1545956600;\nvar output = [];\n\noutput.push({ topic: \"SELECT * FROM Voltage WHERE epoch >= \" + enddate + \" AND epoch <= \" + fromdate + \" ORDER BY timestamp\"});\n\n\noutput[output.length-1].complete=true;\nreturn [ output ]; \n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 490,
        "y": 1100,
        "wires": [
            [
                "f821e3c7.a28bc8"
            ]
        ]
    },
    {
        "id": "e2b77f63.2de378",
        "type": "function",
        "z": "e6a5186e.3df6a",
        "name": "Forme",
        "func": "var series =[\"Taux d'humidit en %\", \"x\"];\nvar labels = [\"Labels\"];\nvar data = [];\n\nvar i, len, string;\n\nfor (i = 1, len = msg.payload.length, string = \"\"; i < len; i++) {\n    data.push({\"x\":msg.payload[i].timestamp, \"y\":Number(msg.payload[i].value)});\n}\n\ndata = [data];\n\nmsg.payload = [{series, data, labels}];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 790,
        "y": 1100,
        "wires": [
            [
                "6f32808d.8ba9"
            ]
        ]
    },
    {
        "id": "6f32808d.8ba9",
        "type": "ui_chart",
        "z": "e6a5186e.3df6a",
        "name": "taux voltage",
        "group": "a07d87ef.ed38f",
        "order": 5,
        "width": "17",
        "height": "10",
        "label": "Courbe évolution de la batterie",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "3000",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": "",
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": true,
        "x": 930,
        "y": 1120,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "f821e3c7.a28bc8",
        "type": "sqlite",
        "z": "e6a5186e.3df6a",
        "mydb": "12846145.93a77f",
        "sql": "",
        "name": "DB",
        "x": 670,
        "y": 1100,
        "wires": [
            [
                "e2b77f63.2de378"
            ]
        ]
    },
    {
        "id": "aa27425c.3894f8",
        "type": "delay",
        "z": "e6a5186e.3df6a",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 320,
        "y": 1080,
        "wires": [
            [
                "f54bb505.49cc38"
            ]
        ]
    },
    {
        "id": "f97c6653.03cd28",
        "type": "ui_text",
        "z": "e6a5186e.3df6a",
        "group": "475131ad.7cf348",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Première heure",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 880,
        "y": 1220,
        "wires": []
    },
    {
        "id": "3f2b2d4.a0a3652",
        "type": "ui_text",
        "z": "e6a5186e.3df6a",
        "group": "475131ad.7cf348",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Dernière heure",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 880,
        "y": 1260,
        "wires": []
    },
    {
        "id": "e6046032.82bc3",
        "type": "sqlite",
        "z": "e6a5186e.3df6a",
        "mydb": "12846145.93a77f",
        "sql": "",
        "name": "DB",
        "x": 570,
        "y": 1220,
        "wires": [
            [
                "eb27d810.11c608"
            ]
        ]
    },
    {
        "id": "52dd6715.5833f8",
        "type": "sqlite",
        "z": "e6a5186e.3df6a",
        "mydb": "12846145.93a77f",
        "sql": "",
        "name": "DB",
        "x": 570,
        "y": 1260,
        "wires": [
            [
                "81565bcc.be56e"
            ]
        ]
    },
    {
        "id": "26df015e.9108fe",
        "type": "inject",
        "z": "e6a5186e.3df6a",
        "name": "",
        "topic": "SELECT value,timestamp FROM Voltage WHERE id=125",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "3",
        "x": 420,
        "y": 1220,
        "wires": [
            [
                "e6046032.82bc3"
            ]
        ]
    },
    {
        "id": "eb27d810.11c608",
        "type": "function",
        "z": "e6a5186e.3df6a",
        "name": "Forme",
        "func": "var payload = (msg.payload[0].value)/1000 +\"V,  \" + msg.payload[0].timestamp;\nmsg.payload = payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 710,
        "y": 1220,
        "wires": [
            [
                "f97c6653.03cd28"
            ]
        ]
    },
    {
        "id": "facaa2bc.dc708",
        "type": "inject",
        "z": "e6a5186e.3df6a",
        "name": "",
        "topic": "SELECT value,timestamp,MAX(id) FROM Voltage",
        "payload": "",
        "payloadType": "date",
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": "60",
        "x": 430,
        "y": 1260,
        "wires": [
            [
                "52dd6715.5833f8"
            ]
        ]
    },
    {
        "id": "81565bcc.be56e",
        "type": "function",
        "z": "e6a5186e.3df6a",
        "name": "Forme",
        "func": "var payload = (msg.payload[0].value)/1000 +\"V,  \" + msg.payload[0].timestamp;\nmsg.payload = payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 706,
        "y": 1257,
        "wires": [
            [
                "3f2b2d4.a0a3652"
            ]
        ]
    },
    {
        "id": "2b9113a7.20b81c",
        "type": "inject",
        "z": "e6a5186e.3df6a",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 260,
        "y": 1160,
        "wires": [
            [
                "f54bb505.49cc38"
            ]
        ]
    },
    {
        "id": "cec2f2a.554a09",
        "type": "ui_button",
        "z": "32d3900e.458958",
        "name": "",
        "group": "475131ad.7cf348",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Prog",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 350,
        "y": 440,
        "wires": [
            [
                "6cbe47.d9b7a1b8",
                "30921fdf.bfec48"
            ]
        ]
    },
    {
        "id": "6cbe47.d9b7a1b8",
        "type": "http request",
        "z": "32d3900e.458958",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "192.168.1.33/prog",
        "tls": "",
        "x": 530,
        "y": 440,
        "wires": [
            [
                "b06c05b0.684d78"
            ]
        ]
    },
    {
        "id": "b06c05b0.684d78",
        "type": "ui_text",
        "z": "32d3900e.458958",
        "group": "475131ad.7cf348",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "état : ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 790,
        "y": 440,
        "wires": []
    },
    {
        "id": "7141531b.4d2144",
        "type": "http request",
        "z": "32d3900e.458958",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "192.168.1.33/ok",
        "tls": "",
        "x": 630,
        "y": 380,
        "wires": [
            [
                "b06c05b0.684d78"
            ]
        ]
    },
    {
        "id": "30921fdf.bfec48",
        "type": "delay",
        "z": "32d3900e.458958",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 480,
        "y": 380,
        "wires": [
            [
                "7141531b.4d2144"
            ]
        ]
    }
]
